.awesome-font { font-family: 'Lato', sans-serif; }
.awesome-font-header { font-family: 'Montserrat', sans-serif; }
.btn:focus,.btn:active { outline: none !important; } 
div.meta-experience { text-align:right; }
div.meta-education { text-align:right; }
span.experience-label { text-transform:uppercase; }
span.education-label { text-transform:uppercase; }

.axis { font-size:8pt; fill:none; }
.x.axis line { stroke:#fff;	}
.tick line { opacity:0.2; }
.tick text { font-size:12px; stroke:blue; }

div.tooltip 
{	
   position: absolute;			
   text-align: left;			
   width: 600px;					
   height: 78px;					
   padding: 0px;				
   font-size: 8pt;		
   border: 0px;		
   pointer-events: none;			
	background-color:#eeeeee;
	line-height:12px;
	z-index:50;
}

p.tooltip-header 
{
	padding:3px;
	font-family: 'Montserrat', sans-serif; 
	font-size:16pt;
	line-height:30px;
	font-weight:bold;
}

div.svgXaxes
{
	position:absolute;
	font-size:6pt;
	font-weight:bold;
}

svg#svg { border-left:0.5px #fff solid; border-right:0.5px #fff solid; }

#year 
{
	position:absolute;
	text-align:center;
	z-index:20;
	width:60px;
	height:20px;
	top:0px;
	background-color:#fff;
}
#vertical
{
	position:absolute;
	z-index:19;
	width:1px;
	height:400px;
	top:10px;
	bottom:0px;
	left:0px;
	background:#fff;
}
a.lang-selected { font-weight:bold;}
a.lang-selection:hover { color:#D26924; }
span.skill-spotlight { font-weight:bold; }

